body{
     font-family: 'Poppins', sans-serif;
      
}
.banner{
    background-image: url(/portfolio/bg-images/techbg.avif);
    padding: 250px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.skill-padding{
    padding: 70px 0;
}